@tailwind base;
@tailwind components;
@tailwind utilities;



/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 5px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle on hover */
  }
  
  /* For Firefox */
  .scroll-container {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Handle and track colors */
  }
  

  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  
  .online {
    background-color: green;
  }
  
  .offline {
    /* background-color: gray; */
  }
  