@tailwind base;
@tailwind components;
@tailwind utilities;





::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  

  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  
  .online {
    background-color: green;
  }
  
  